.container {
	lost-center: 1020px;
	lost-colum: 1;
}

.container textarea {
	lost-center: 90%;
	padding: 10px 20px;
	border: 1px solid #eee;
	outline: none;
	background: none;
}

button {
	text-align: center;
	lost-center: 30%;
	background: deepskyblue;
	padding: 10px 20px;
	outline: none;
	border: none;
	color: white;
	cursor: pointer;
}