@import '../../main.css';
.sale-item {
	lost-column: 1;
	text-align: center;
	padding: 10px 0;
	position: relative;
	border: 1px dashed #eee;
}

.sale-item .display {
	lost-column: 3/4;
	text-align: left;
	float: left;
	margin-right: 0;
	padding: 0 10px;
}

.sale-item>div {
	display: inline-block;
	margin: 0 20px;
}

.sale-item:nth-of-type(2n) {
	background: #eee;
}

.gallery-container {
	lost-column: 1;
	lost-center: 1;
	border: 1px dashed #eee;
}

.gallery-container h3 {
	text-align: center;
	margin-right: 0 !important;
}

.sale-item a {
	margin: 0 20px 0 0;
}

.add-entry {
	lost-column: 1;
	padding: 30px;
	border: 1px solid #eee;
	text-align: center;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a.add-entry:hover,
a.add-entry:active,
a.add-entry.active {
	background: black;
	color: white;
}

div.gallery {
	lost-column: 1;
	display: block;
}

div.gallery ul {
	lost-column: 1;
	lost-center: 100%;
}

div.gallery ul li {
	lost-waffle: 1/4;
	list-style: none;
}

div.gallery li img {
	width: 100%;
}

ul.cart {
	lost-column: 1;
	padding: 0;
}

ul.cart ul.optionsContainer {
	display: inline-block !important;
	width: auto !important;
	padding: 0px 0;
	margin: 0 !important;
}

ul.cart ul.optionsContainer li {
	margin: 0 5px;
	padding: 2px 10px !important;
	font-size: 0.8rem;
}

ul.cart button.action {
	display: inline-block;
	margin: 0 !important;
	border: 1px solid black;
	padding: 8px 20px !important;
}

ul.cart li {
	list-style: none;
	padding: 0 10px;
	margin: 10px 0;
	border: 1px dashed #eee;
}

ul.cart li:nth-of-type(2n) {
	background: #eee;
}

ul.cart li>div {
	border-bottom: 1px solid #ccc;
}

ul.cart div.value-group {
	display: inline-block;
	float: right;
}

ul.cart li div div {
	line-height: 2rem;
	padding: 0 0 0 20px;
}

ul.cart li div span {
	line-height: 2rem;
}

ul.cart li div span.value,
ul.cart li div input {
	float: right;
	font-size: 1rem;
	font-weight: 900;
	line-height: 1.6rem;
}

ul.cart li div input {
	float: left;
	padding: 1px 0;
	width: 50px;
	font-size: 0.8rem;
	font-weight: 500;
}

ul.cart li span.label {
	text-transform: capitalize;
}

ul.cart em {
	font-size: 0.5rem;
	color: #666;
}

ul.cart div.discount {
	line-height: 3rem;
}

ul.cart div.discount div {
	line-height: 1.6rem;
	padding: 5px 0;
}

input.large {
	font-size: 1.5rem;
	border: none;
	line-height: 1.5rem;
	font-weight: 900px;
	text-align: right;
}

.image-preview {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #444;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-preview img {
	max-height: 100%;
	max-width: 100%;
}

.benign-container {
	width: 100%;
}