@import 'settings';
@import 'common/layout';
@import 'common/typography';
@import 'https://fonts.googleapis.com/css?family=Slabo+27px';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--fontSlabo);
}

a.hidden {
    display: none;
}

.back {
    position: fixed;
    top: 20px;
    left: 20px;
}

.back img {
    max-width: 30px;
}

.stick-right {
    right: 0;
}
.slick-wrapper .slick-list{
    height: 100% !important;
}

span.version {
    position: fixed;
    right: 0;
    max-height: 20px;
    bottom: 5px;
    max-width: 80px;
    font-size: 0.5rem;
    background: gray;
    padding: 5px 10px;
    color: white;
    border-radius: 0px;
}

.google-button {
    lost-utility: clearfix;
    lost-center: 1/2;
}

.google-button div a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: 1px solid #000;
    min-width: 100px !important;
}

.google-button div {
    lost-utility: clearfix;
    text-align: center;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-button span {
    font-size: 0.5rem;
    text-align: center;
}

.google-button a:hover,
.google-button a:active {
    color: white;
    background: black;
}

.google-button img {
    display: block;
    max-width: 100px;
}

.google-button h3 {
    text-transform: uppercase;
}

a.review {
    position: absolute;
    right: 60px;
    top: 21px;
    width: 100px;
    padding: 5px 10px 5px 10px;
    background: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
}

.action {
    background-color: black;
    color: white;
    border: 1px solid black;
    box-shadow: none;
    padding: 10px 20px;
    cursor: pointer;
    /*margin: 20px 10px 20px 0;*/
    float: right;
    margin: 20px auto;
    text-decoration: none;
}

.action.small {
    padding: 2px 5px;
    margin: 0 20px;
}

.header-note {
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    background: #afcee8;
}

.header-note .header-label {
    color: #666;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.action.secondary {
    background-color: white;
    color: black;
}

.action.warning {
    background-color: #ff2200;
    border: 1px solid #ff2200;
}

.action:hover {
    background-color: white;
    color: black;
}

.capitalize {
    text-transform: capitalize;
}

.app {
    /*@apply --box;*/
    height: 100%;
    font-weight: normal;
    font-smoothing: antialiased;
}

h1,
h3 {
    lost-column: 1;
    text-align: center;
    margin-right: 0px !important;
}

.container {
    lost-center: 1020px;
    lost-utility: clearfix;
}

.big {
    lost-center: 1920px !important;
}

.half {
    width: 49%;
    float: left;
    margin: 0px !important;
    padding: 0 20px;
    border-right: 1px solid #eee;
}

.half:last-of-type {
    border-right: none !important;
}

.container .form-container {
    lost-center: 90%;
    min-width: 80% !important;
    lost-utility: clearfix;
}

.input-group {
    lost-center: 100%;
    lost-column: 1;
    lost-utility: clearfix;
    margin: 10px 0;
    padding: 10px 0;
}

.input-group label {
    text-transform: uppercase;
    line-height: 30px;
    text-align: left;
    font-size: 12px;
    display: block;
    lost-column: 1;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="date"],
.input-group input[type="datetime-local"] {
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    lost-column: 1;
    display: block;
}

.input-group textarea {
    border: none;
    margin: 0px 0px;
    background-attachment: local;
    background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 40px, #999 40px, #ccc 41px, white 41px);
    line-height: 41px;
    lost-column: 1;
}

.required:after { 
    content:" *";
    color:red !important;
    font-size:14px !important;
}

.divider {
    position: relative;
    display: block;
    lost-column: 1;
    margin: 20px 0;
}

.divider:after {
    position: absolute;
    content: '';
    background: black;
    height: 1px;
    bottom: 1;
    left: 20%;
    right: 20%;
}

button {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.action-item {
    lost-column: 1;
    padding: 30px;
    border: 1px solid #eee;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin: 10px 0;
}

.action-container {
    lost-center: 1020px;
}

.action-item:hover,
.action-item:active,
.action-item.active {
    background: black;
    color: white;
}

button.submit {
    margin: 20px auto;
}