:root {
	--colorBlack: #000;
	--colorWhite: #fff;
	--colorDodgerBlue: #2196F3;
	--colorSalem: #0F9D58;
	--colorDarkerSalem: #0b6e3e;
	--colorPunch: #db4437;
	--colorLoblolly: #c3c8ce;
	--colorLimedSpruce: #333f48;
	--colorAthensGray: #f5f5f6;
	--colorMercury: #e3e3e3;
	--colorBombay: #b4bac1;
	--colorCrimson: #ed193a;
	--colorDarkerCrimson: color(var(--colorCrimson) blackness(+20%));
}