:root {
	--fontSlabo: 'Slabo 27px', Helvetica, Arial, serif;
	--fontSmall: 12px;
	--fontMedium: 16px;
	--fontLarge: 21px;
	--fontHuge: 28px;
	--heading {
		font-size: 28px;
		font-weight: 700;
		line-height: 48px;
	}
	--subHeading {
		font-size: 21px;
		font-weight: 700;
		line-height: 24px;
	}
	--normal {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
	--small {
		font-size: 12px;
		font-weight: 400;
		line-height: 24px;
	}
}