.hamburger {
	position: absolute;
	right: 20px;
	top: 20px;
}

.hamburger img {
	max-width: 30px;
	cursor: pointer;
}

.hamburger .menu {
	width: 300px !important;
	max-width: 400px !important;
	padding: 20px 20px;
	background: white;
	position: absolute;
	right: 0;
	top: 30px;
	direction: rtl;
	border: 1px solid #999;
	z-index: 10;
	lost-utility: clearfix;
	box-shadow: 0px 0px 4px 1px #ccc;
}

.hamburger .menu span.label {
	font-size: 0.8rem;
	display: block;
}

.hamburger span:last-of-type {
	display: block;
	margin: 0 0px 20px 0;
}

.hamburger .action {
	margin: 0 10px;
}