.incrementFieldContainer {
	display:inline-block;
	margin-right: 0 !important;
}

.incrementFieldContainer div {
	font-weight: 900;
	font-size: 24px;
	width: 36px;
	height: 36px;
	border: 1px solid black;
	padding: 12px 12px 12px 12px;
	line-height: 10px;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
}
.incrementFieldContainer div.minus{
	float:left;
}

.incrementFieldContainer div:hover,
.incrementFieldContainer div:active {
	background: black;
	color: white;
}

.incrementFieldContainer input {
	display: inline-block;
	max-width: 100px !important;
	margin: 0 !important;
	line-height: 24px;
	text-align: center;
	border: none;
	border-bottom: 1px solid #999;
	outline: none;
	lost-column: 1;
}