.download-wrapper {
	padding: 1em 0 0 0;
}

.download-anchor {
	color: #fff;
	background: #000;
	padding: 0.3em 0.5em;
	text-decoration: none;
}

.submit-button {
    color: #fff;
    border: 0px;
    width: 6.9em;
    height: 2.4em;
	cursor: pointer;
    font-size: 0.9em;
	background: #000;
	margin: 1.5em 0 0 0;
}
.submit-button:hover {
	background: #191818;
}