.table .col-1 {
	width: 6.25% !important;
}

.table .col-2 {
	width: 12.5% !important;
}

.table .col-3 {
	width: 18.75% !important;
}

.table .col-4 {
	width: 25% !important;
}

.table .col-5 {
	width: 31.25% !important;
}

.table .col-6 {
	width: 37.5% !important;
}

.table .col-7 {
	width: 43.75% !important;
}

.table .col-8 {
	width: 50% !important;
}

.table .col-9 {
	width: 56.25% !important;
}

.table .col-10 {
	width: 62.5% !important;
}

.table .col-11 {
	width: 68.75% !important;
}

.table .col-12 {
	width: 75% !important;
}

.table .col-16,
.full {
	width: 100% !important;
}

div.invoice-table {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.invoice-table * {
	font-size: 0.8rem;
}

div.table {
	text-align: center;
	border: 1px solid #000;
	width: 1100px;
	font-size: 0.75rem;
	margin: 20px;
}

div.table div.full {
	border-bottom: 1px solid #000;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0;
}

@media screen {
	div.table div.full {
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
	}
}

@media print {
	div.table div.full {
		display: -webkit-flex;
		-webkit-justify-content: flex-start;
		-webkit-align-items: stretch;
	}
}

div.table div.full:last-of-type {
	border: none !important;
}

div.table div.full.border {
	border-bottom: 1px solid #000;
}

div.table .sub-header {
	background: black;
	color: white;
}

div.table div.full span {
	border-right: 1px solid #000;
	margin: 0;
	display: inline-block;
	padding: 0 5px;
	text-transform: capitalize;
	lost-utility: clearfix;
}

div.table div.full span.border-bottom {
	border-right: 0px;
	border-bottom: 1px solid #000 !important;
}

div.table div.full span.hightlight {
	font-weight: 600;
}

div.table div.full span.label {
	text-align: left;
	background: #ccc;
}

div.table div.full span.no-color {
	background: white;
}

a.pull-right {
	float: right;
}

.print span.version {
	display: none;
}

.print {
	padding: 10px 10px 0 0;
}

.nopad {
	padding: 0 !important;
}

.text-small {
	font-size: 0.6rem !important;
}

.text-important {
	font-size: 1.3rem !important;
	font-weight: 400;
}

.notransform {
	text-transform: none !important;
}

.invoice-logo img {
	width: 40px;
	height: 40px;
}

.align-left span {
	text-align: left;
}

.align-right {
	text-align: right !important;
}

img.signature {
	max-width: 100px;
}

.noborder {
	border: none !important;
	border-bottom: none !important;
}

.hightlight {
	font-weight: 600;
}

span.highlight.noborder {
	font-weight: 600;
}

.empty-table-height {
	height: 0.5em;
}

.top-bottom-spacing {
	margin: 0.5em 0 !important;
}

.col-text-align-left {
	text-align: left;
}

@media print {
	a,
	span.version {
		display: none;
	}
}