.container {
	lost-center: 1020px;
	lost-utitlity: clearfix;
}

.container .header {
	lost-column: 1;
	lost-center: 100%;
}

.container .header h1.heading {
	text-align: center;
	display: block;
	width: 100%;
}

.container .email-container {
	lost-utility: clearfix;
	lost-center: 100%;
	margin-top:100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
