.measurement-form{
	position:relative;
}
.measurement-form input[type='number']{
	display:inline-block !important;
}
.measurement-form input[type='number']{
	border: none;
	border-bottom: 1px solid #999;
	outline: none;
	lost-column: 1;
	display: block;
}

input[type="file"]{
	display:none;
}
span.foot-note{
	float:left;
	color: #aaa;
	font-size: 0.5rem;
	line-height: 2rem;
}

div.photo{
	position: fixed;
	right:20px;
	top: 75px;
	width:45px;
	height: 45px;
	border: 1px solid black;
	padding: 5px 5px;
	text-align: center;
	cursor:pointer;
	background:white;
}

div.photo img{
	width: 30px;
	height:30px;
}
h3{
	text-align: center;
	lost-column: 1;
}
div.actions{
	lost-column: 1;
}
em.mandatory{
	color:red;
}
