.message {
	lost-center: 1020px;
	text-align: center;
	padding: 20px 0;
	display: none;
}

.message.success {
	background: mediumseagreen;
	color: white;
}
.message.error{
	background: #fa5500;
	color: white;
}
.message.show {
	display: block;
}