ul.optionsContainer {
	margin: 0;
	padding: 0;
	display: block;
	lost-column: 1;
	list-style: none;
}

ul.optionsContainer li {
	float: left;
	cursor: pointer;
	margin: 0px 10px 10px 0px;
	text-transform: uppercase;
	padding: 5px 20px !important;
	text-decoration: line-through;
	background: white !important;
	border: 1px solid black !important;
}

ul.optionsContainer li.selected {
	text-decoration: none;
	color: #fff !important;
	background: #000 !important;	
}

ul.optionsContainer li.disabled {
	cursor: default;
	pointer-events: none;
	text-decoration: line-through;
	background: #aeaeae !important;
	border: 1px solid #aeaeae !important;
}