.navigation {
	lost-center: 1020px;
	lost-utility: clearfix;
	border-bottom: 1px solid #eee;
	padding: 10px;
	box-shadow: 0px 0px 4px 1px #ccc; 
}

@media print{
	.navigation {
		display:none;
	}
}

.navigation div {
	lost-center: 45px;
	display:block !important;
}

div a.logo {
	lost-center: 45px;
	lost-utility: clearfix;
}

.logo img {
	width: 45px;
	height: 45px;
}