.numberFormContainer {
	margin: 0px 5px;
	display: block;
	lost-column: 1;
}

.numberFormContainer input[type="number"] {
	width: 30px;
	height: 30px;
	padding: 5px 5px 5px 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}