.select-list{
	lost-column: 1;
	lost-center: 100%;
	margin:0 !important;
	position:relative;
}
.select-list ul{
	max-height: 300px;
	lost-column:1;
	margin: 0 !important;
	padding:0 !important;
	overflow:auto;
}
.select-list li{
	list-style:none;
	cursor: pointer;
	padding: 10px 10px;
}
.select-list li:nth-of-type(2n){
	background: #eee;
}
.select-list li:hover, .select-list li:active, .select-list li.active{
	background:lightsteelblue;
}
.select-list button:not(.input-group-button){
	lost-column:1;
}
.select-list .list-container{
	padding: 5px;
	border: 1px dashed #eee;
}
span.select-main-label{
	text-align:left;
	display:block;
}
span.select-email, span.select-phone{
	font-size: 0.8rem;
	display:block;
	margin: 5px 0px;
}
span.no-results-label{
	padding: 5px 20px;
	border: 1px dashed #eee;
	color:#999;
}
.input-group-button{
	width: 20px;
	height: 20px;
	position:absolute;
	right:0;
	top:-5px;
	background:none;
	cursor:pointer;
	float:left;
	border:none;
	margin: 0 !important;
}
.input-group-button img{
	position:absolute;
	width: 20px;
	left:-2px;
	top:-3px;
}
