.canvas-container {
	position: fixed;
	top: 10px;
	bottom: 10px;
	right: 10px;
	left: 10px;
	background: white;
	box-shadow: 0px 0px 4px 1px #ccc;
}

.canvas-container canvas {
	width: 90%;
}

.canvas-container .button-container {
	position: absolute;
	bottom: 0;
	left: 0%;
	right: 0;
	text-align: center;
}

.button-container .disclaimer {
	font-size: 0.4rem;
}

.button-container button {
	margin: 30px;
	float: left;
}

.m-signature-pad {
	position: absolute;
	left: 0;
	bottom: 50px;
	font-size: 10px;
	background-color: #fff;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.m-signature-pad--body {
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 60px;
	border: 1px solid #f4f4f4;
}

.m-signature-pad--body canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.m-signature-pad--footer {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 20px;
	height: 40px;
	display: none;
}

.m-signature-pad--footer .description {
	color: #C3C3C3;
	text-align: center;
	font-size: 1.2em;
	margin-top: 1.8em;
}

.m-signature-pad--footer .button {
	position: absolute;
	bottom: 0;
}

.m-signature-pad--footer .button.clear {
	left: 0;
}

.m-signature-pad--footer .button.save {
	right: 0;
}

.m-signature-pad {
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	width: auto;
	height: auto;
}

#github {
	display: none;
}

@media screen and (max-width: 1024px) {
	.m-signature-pad {
		top: 0;
		left: 0;
		right: 0;
		bottom: 50px;
		width: auto;
		height: auto;
	}
	#github {
		display: none;
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.m-signature-pad {
		margin: 10%;
	}
}

@media screen and (max-height: 320px) {
	.m-signature-pad--body {
		left: 0;
		right: 0;
		top: 0;
	}
	.m-signature-pad--footer {
		left: 20px;
		right: 20px;
		bottom: 4px;
		height: 28px;
		display: none;
	}
	.m-signature-pad--footer .description {
		font-size: 1em;
		margin-top: 1em;
	}
}