.container {
	lost-center: 1020px;
	lost-utitlity: clearfix;
}

.container .option {
	lost-column: 1;
	padding: 30px;
	border: 1px solid #eee;
	text-align: center;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.container .option:hover,
.container .option:active,
.container.option.active {
	background: black;
	color: white;
}