div.workorders{
overflow-x: scroll;
overflow-y:hidden;
white-space: nowrap;
width: 100%;
margin:0;
}

.scroll_info{
	color: red;
}

div.workorders div.workorder div:not(.ants-menu) {
	/*float: left;*/
	border-right: 1px solid #eee;
	padding: 5px 5px;
	height: 40px;
	white-space: nowrap;
	line-height: 40px;
	display: inline-block;
}

div.workorders div.workorder:nth-of-type(2n) {
	background: #eee;
}

div.workorder {
	lost-utility: clearfix;
	border-bottom: 1px solid #eee;
	min-height: 40px;
}

div.workorder button {
	margin: 2px 10px 0px 0px!important;
	visibility: hidden;
}

div.workorder:hover button {
	visibility: visible;
}

div.workorder:hover {
	background: lightskyblue;
}

div.workorder:hover div:not(.ants-menu) {
	background: lightskyblue;
}

div.workorder div.sorted {
	background: #aaffaa;
}

div.workorder div.head {
	background: #444;
	color: white;
}

div.workorder div.small {
	width: 50px;
}

div.workorder div.large {
	width: 250px;
}

div.workorder div.medium {
	width: 150px;
}

.image-list img {
	max-width: 100%;
	max-height: 500px;
}

.image-list {
	overflow-x: hidden;
}

.ants-menu {
	position: absolute;
	top: 40px;
	left: -235px;
	z-index: 10;
	background: white;
	border: none;
	width: 250px;
	box-shadow: 0px 0px 4px 1px #ccc;
	padding: 0px 0px;
}

.toggleMenu.up .ants-menu {
	bottom: 40px;
	top: auto;
}

.toggleMenu {
	max-width: 20px;
	position: relative;
	float: right !important;
	cursor: pointer;
	padding: 6px 0px !important;
}

.toggleMenu img {
	width: 20px;
}

.ants-menu a {
	display: block;
	font-size: 0.8rem;
	text-decoration: none;
	color: #444;
	padding: 0px 20px;
}

.ants-menu a:hover {
	background: lightskyblue;
	color: white;
}

.flexify {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-carousel {
	padding: 20px;
	float: left;
	width: 100%;
}

div.image-container {}

.image-container img {
	max-width: 100%;
}

.slick-list,
.slick-slider,
.slick-track {
	position: relative;
	display: block;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slider {
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: 0;
}

.slick-list.dragging {
	cursor: pointer;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	top: 0;
	left: 0;
}

.slick-track:after,
.slick-track:before {
	display: table;
	content: '';
}

.slick-track:after {
	clear: both;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir=rtl] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}


/*# sourceMappingURL=slick.min.css.map */

.slick-dots,
.slick-next,
.slick-prev {
	position: absolute;
	display: block;
	padding: 0;
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
	font-family: slick;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-loading .slick-list {
	background: url(/images/ajax-loader.gif) center center no-repeat #fff;
}

@font-face {
	font-family: slick;
	font-weight: 400;
	font-style: normal;
	src: url(/fonts/slick.eot);
	src: url(/fonts/slick.eot?#iefix) format('embedded-opentype'), url(/fonts/slick.svg#slick) format('svg');
}

.slick-next,
.slick-prev {
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
	color: transparent;
	outline: 0;
	background: 0 0;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
	opacity: 1;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
	opacity: .25;
}

.slick-next:before,
.slick-prev:before {
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: #fff;
}

.slick-prev {
	left: -25px;
}

[dir=rtl] .slick-prev {
	right: -25px;
	left: auto;
}

.slick-prev:before {
	content: '←';
}

.slick-next:before,
[dir=rtl] .slick-prev:before {
	content: '→';
}

.slick-next {
	right: -25px;
}

[dir=rtl] .slick-next {
	right: auto;
	left: -25px;
}

[dir=rtl] .slick-next:before {
	content: '←';
}

.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	bottom: -25px;
	width: 100%;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: 0;
	background: 0 0;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
	outline: 0;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
	opacity: 1;
}

.slick-dots li button:before {
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: #000;
}

.slick-dots li.slick-active button:before {
	opacity: .75;
	color: #000;
}
.input-query-css {
	border-radius:4px;
}
.button-query-css{
	margin:0px 5px 0px 0px;
}




/*# sourceMappingURL=slick-theme.min.css.map */